VS2010/Sem.Sync.Connector.OnlineStorage/Service References/Cloud/Storage.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://svenerikmatzen.com/Sem/Sync/OnlineStorage" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" targetNamespace="http://svenerikmatzen.com/Sem/Sync/OnlineStorage" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://svenerikmatzen.com/Sem/Sync/OnlineStorage/Imports">
      <xsd:import schemaLocation="http://localhost:50643/Storage.svc?xsd=xsd0" namespace="http://svenerikmatzen.com/Sem/Sync/OnlineStorage" />
      <xsd:import schemaLocation="http://localhost:50643/Storage.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50643/Storage.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Sem.Sync.Cloud" />
      <xsd:import schemaLocation="http://localhost:50643/Storage.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Sem.Sync.SyncBase" />
      <xsd:import schemaLocation="http://localhost:50643/Storage.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Sem.Sync.SyncBase.DetailData" />
      <xsd:import schemaLocation="http://localhost:50643/Storage.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IStorage_GetAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAll" />
  </wsdl:message>
  <wsdl:message name="IStorage_GetAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllResponse" />
  </wsdl:message>
  <wsdl:message name="IStorage_WriteFullList_InputMessage">
    <wsdl:part name="parameters" element="tns:WriteFullList" />
  </wsdl:message>
  <wsdl:message name="IStorage_WriteFullList_OutputMessage">
    <wsdl:part name="parameters" element="tns:WriteFullListResponse" />
  </wsdl:message>
  <wsdl:message name="IStorage_DeleteBlob_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBlob" />
  </wsdl:message>
  <wsdl:message name="IStorage_DeleteBlob_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBlobResponse" />
  </wsdl:message>
  <wsdl:portType name="IStorage">
    <wsdl:operation name="GetAll">
      <wsdl:input wsaw:Action="http://svenerikmatzen.com/Sem/Sync/OnlineStorage/IStorage/GetAll" message="tns:IStorage_GetAll_InputMessage" />
      <wsdl:output wsaw:Action="http://svenerikmatzen.com/Sem/Sync/OnlineStorage/IStorage/GetAllResponse" message="tns:IStorage_GetAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WriteFullList">
      <wsdl:input wsaw:Action="http://svenerikmatzen.com/Sem/Sync/OnlineStorage/IStorage/WriteFullList" message="tns:IStorage_WriteFullList_InputMessage" />
      <wsdl:output wsaw:Action="http://svenerikmatzen.com/Sem/Sync/OnlineStorage/IStorage/WriteFullListResponse" message="tns:IStorage_WriteFullList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteBlob">
      <wsdl:input wsaw:Action="http://svenerikmatzen.com/Sem/Sync/OnlineStorage/IStorage/DeleteBlob" message="tns:IStorage_DeleteBlob_InputMessage" />
      <wsdl:output wsaw:Action="http://svenerikmatzen.com/Sem/Sync/OnlineStorage/IStorage/DeleteBlobResponse" message="tns:IStorage_DeleteBlob_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>