ContactViewer/Service References/ServiceReference1/ContactViewService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Sem.Sync.OnlineStorage" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Sem.Sync.OnlineStorage" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfViewContact">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ViewContact" nillable="true" type="tns:ViewContact" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfViewContact" nillable="true" type="tns:ArrayOfViewContact" />
  <xs:complexType name="ViewContact">
    <xs:sequence>
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Picture" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Street" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ViewContact" nillable="true" type="tns:ViewContact" />
</xs:schema>