Sem.Sync.Connector.OnlineStorage/Service References/ContactService2/ContactService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Sem.Sync.OnlineStorage2" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Sem.Sync.OnlineStorage2" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:39806/ContactService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Sem.Sync.SyncBase" />
  <xs:complexType name="ContactListContainer">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Sem.Sync.SyncBase" minOccurs="0" name="ContactList" nillable="true" type="q1:ArrayOfStdContact" />
      <xs:element minOccurs="0" name="FirstElementIndex" type="xs:int" />
      <xs:element minOccurs="0" name="TotalElements" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ContactListContainer" nillable="true" type="tns:ContactListContainer" />
</xs:schema>