Sem.GenericHelpers/Service References/ExceptionService/ExceptionService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.svenerikmatzen.info/Sem.GenericHelpers.ExceptionService" elementFormDefault="qualified" targetNamespace="http://www.svenerikmatzen.info/Sem.GenericHelpers.ExceptionService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="WriteExceptionData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="exceptionData" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WriteExceptionDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WriteExceptionDataResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>