Sem.Sync.Connector.OnlineStorage/Service References/OnlineStorage/ContactService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Sem.Sync.SyncBase" xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Sem.Sync.SyncBase" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:63638/ContactService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Sem.Sync.SyncBase.DetailData" />
  <xs:import schemaLocation="http://localhost:63638/ContactService.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:63638/ContactService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfStdContact">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StdContact" nillable="true" type="tns:StdContact" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStdContact" nillable="true" type="tns:ArrayOfStdContact" />
  <xs:complexType name="StdContact">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:StdElement">
        <xs:sequence>
          <xs:element name="_x003C_AdditionalTextData_x003E_k__BackingField" nillable="true" type="xs:string" />
          <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Sem.Sync.SyncBase.DetailData" name="_x003C_BusinessAddressPrimary_x003E_k__BackingField" nillable="true" type="q1:AddressDetail" />
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Sem.Sync.SyncBase.DetailData" name="_x003C_BusinessAddressSecondary_x003E_k__BackingField" nillable="true" type="q2:AddressDetail" />
          <xs:element name="_x003C_BusinessCompanyName_x003E_k__BackingField" nillable="true" type="xs:string" />
          <xs:element name="_x003C_BusinessDepartment_x003E_k__BackingField" nillable="true" type="xs:string" />
          <xs:element name="_x003C_BusinessEmailPrimary_x003E_k__BackingField" nillable="true" type="xs:string" />
          <xs:element name="_x003C_BusinessEmailSecondary_x003E_k__BackingField" nillable="true" type="xs:string" />
          <xs:element name="_x003C_BusinessHomepage_x003E_k__BackingField" nillable="true" type="xs:string" />
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Sem.Sync.SyncBase.DetailData" name="_x003C_BusinessInstantMessengerAddresses_x003E_k__BackingField" nillable="true" type="q3:InstantMessengerAddresses" />
          <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Sem.Sync.SyncBase.DetailData" name="_x003C_BusinessPhoneMobile_x003E_k__BackingField" nillable="true" type="q4:PhoneNumber" />
          <xs:element name="_x003C_BusinessPosition_x003E_k__BackingField" nillable="true" type="xs:string" />
          <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="_x003C_Categories_x003E_k__BackingField" nillable="true" type="q5:ArrayOfstring" />
          <xs:element name="_x003C_DateOfBirth_x003E_k__BackingField" type="xs:dateTime" />
          <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Sem.Sync.SyncBase.DetailData" name="_x003C_Name_x003E_k__BackingField" nillable="true" type="q6:PersonName" />
          <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Sem.Sync.SyncBase.DetailData" name="_x003C_PersonGender_x003E_k__BackingField" type="q7:Gender" />
          <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Sem.Sync.SyncBase.DetailData" name="_x003C_PersonalAddressPrimary_x003E_k__BackingField" nillable="true" type="q8:AddressDetail" />
          <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Sem.Sync.SyncBase.DetailData" name="_x003C_PersonalAddressSecondary_x003E_k__BackingField" nillable="true" type="q9:AddressDetail" />
          <xs:element name="_x003C_PersonalEmailPrimary_x003E_k__BackingField" nillable="true" type="xs:string" />
          <xs:element name="_x003C_PersonalEmailSecondary_x003E_k__BackingField" nillable="true" type="xs:string" />
          <xs:element name="_x003C_PersonalHomepage_x003E_k__BackingField" nillable="true" type="xs:string" />
          <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Sem.Sync.SyncBase.DetailData" name="_x003C_PersonalInstantMessengerAddresses_x003E_k__BackingField" nillable="true" type="q10:InstantMessengerAddresses" />
          <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Sem.Sync.SyncBase.DetailData" name="_x003C_PersonalPhoneMobile_x003E_k__BackingField" nillable="true" type="q11:PhoneNumber" />
          <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Sem.Sync.SyncBase.DetailData" name="_x003C_PersonalProfileIdentifiers_x003E_k__BackingField" nillable="true" type="q12:ProfileIdentifiers" />
          <xs:element name="_x003C_PictureData_x003E_k__BackingField" nillable="true" type="xs:base64Binary" />
          <xs:element name="_x003C_PictureName_x003E_k__BackingField" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StdContact" nillable="true" type="tns:StdContact" />
  <xs:complexType name="StdElement">
    <xs:sequence>
      <xs:element name="_x003C_Id_x003E_k__BackingField" type="ser:guid" />
      <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Sem.Sync.SyncBase.DetailData" name="_x003C_InternalSyncData_x003E_k__BackingField" nillable="true" type="q13:SyncData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StdElement" nillable="true" type="tns:StdElement" />
</xs:schema>